Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

True and 1 is considered the same value:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', 'cherry', 2, True, 'banana'}

Get the Length of a Set

To determine how many items a set has, use the len() function.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

Set Items - Data Types

Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple

cherry

banana

Add Items

To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'pineapple', 'banana', 'papaya', 'mango'}

Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple

{'cherry', 'banana'}

The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

Loop Items

You can loop through the set items by using a for loop:

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple

cherry

banana